.me{
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
}
.me h4{
    margin-bottom: 40px;

}

.formacao{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.formacao-quadrado{
    border: 2px solid black;
    width: 400px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 10px 10px 25px black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    margin-top: 1%;
    margin-bottom: 15px;
    font-size: 15px;
    color: rgba(11, 17, 17, 0.541);
    padding-left: 5px;
    padding-right: 10px;
    cursor: pointer;

}

.formacao-quadrado:hover{
    background-color: rgba(240, 248, 255, 0.781);
    cursor: pointer;
    
}


.conhecimento{
    margin-top: 5%;
    display: flex;
    flex-direction: column;

}

.conhecimento-icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.conhecimento-icon > span{
    margin:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conhecimento-icon > span > strong{
    margin-left: 5px;
}
h1 {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

@media screen and (max-width:720px) {
    .h1-sobre{
        font-size: 25px;
    }
    
}