
.home {

    background-color: black;
    max-width: 100%;
    min-height: 919px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 2%;
}


.sobre-me{
    background-color: rgb(245, 241, 241);
    max-width: 100%;
    min-height: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 2%;
    border-top: 25px solid rgb(45, 45, 48);
    
}