.card-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 50px;
}

.title-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}